.position_0_0:not(.isMoving) {
  top: 5px;
  left: 5px;
}
.position_0_1:not(.isMoving) {
  top: 5px;
  left: 115px;
}
.position_0_2:not(.isMoving) {
  top: 5px;
  left: 225px;
}
.position_0_3:not(.isMoving) {
  top: 5px;
  left: 335px;
}
.position_1_0:not(.isMoving) {
  top: 115px;
  left: 5px;
}
.position_1_1:not(.isMoving) {
  top: 115px;
  left: 115px;
}
.position_1_2:not(.isMoving) {
  top: 115px;
  left: 225px;
}
.position_1_3:not(.isMoving) {
  top: 115px;
  left: 335px;
}
.position_2_0:not(.isMoving) {
  top: 225px;
  left: 5px;
}
.position_2_1:not(.isMoving) {
  top: 225px;
  left: 115px;
}
.position_2_2:not(.isMoving) {
  top: 225px;
  left: 225px;
}
.position_2_3:not(.isMoving) {
  top: 225px;
  left: 335px;
}
.position_3_0:not(.isMoving) {
  top: 335px;
  left: 5px;
}
.position_3_1:not(.isMoving) {
  top: 335px;
  left: 115px;
}
.position_3_2:not(.isMoving) {
  top: 335px;
  left: 225px;
}
.position_3_3:not(.isMoving) {
  top: 335px;
  left: 335px;
}
.row_from_0_to_0 {
  top: 5px;
}
.row_from_0_to_1 {
  animation-duration: 0.2s;
  animation-name: row_from_0_to_1;
  animation-fill-mode: forwards;
}
@keyframes row_from_0_to_1 {
  from {
    top: 5px;
  }
  to {
    top: 115px;
  }
}
.row_from_0_to_2 {
  animation-duration: 0.2s;
  animation-name: row_from_0_to_2;
  animation-fill-mode: forwards;
}
@keyframes row_from_0_to_2 {
  from {
    top: 5px;
  }
  to {
    top: 225px;
  }
}
.row_from_0_to_3 {
  animation-duration: 0.2s;
  animation-name: row_from_0_to_3;
  animation-fill-mode: forwards;
}
@keyframes row_from_0_to_3 {
  from {
    top: 5px;
  }
  to {
    top: 335px;
  }
}
.row_from_1_to_0 {
  animation-duration: 0.2s;
  animation-name: row_from_1_to_0;
  animation-fill-mode: forwards;
}
@keyframes row_from_1_to_0 {
  from {
    top: 115px;
  }
  to {
    top: 5px;
  }
}
.row_from_1_to_1 {
  top: 115px;
}
.row_from_1_to_2 {
  animation-duration: 0.2s;
  animation-name: row_from_1_to_2;
  animation-fill-mode: forwards;
}
@keyframes row_from_1_to_2 {
  from {
    top: 115px;
  }
  to {
    top: 225px;
  }
}
.row_from_1_to_3 {
  animation-duration: 0.2s;
  animation-name: row_from_1_to_3;
  animation-fill-mode: forwards;
}
@keyframes row_from_1_to_3 {
  from {
    top: 115px;
  }
  to {
    top: 335px;
  }
}
.row_from_2_to_0 {
  animation-duration: 0.2s;
  animation-name: row_from_2_to_0;
  animation-fill-mode: forwards;
}
@keyframes row_from_2_to_0 {
  from {
    top: 225px;
  }
  to {
    top: 5px;
  }
}
.row_from_2_to_1 {
  animation-duration: 0.2s;
  animation-name: row_from_2_to_1;
  animation-fill-mode: forwards;
}
@keyframes row_from_2_to_1 {
  from {
    top: 225px;
  }
  to {
    top: 115px;
  }
}
.row_from_2_to_2 {
  top: 225px;
}
.row_from_2_to_3 {
  animation-duration: 0.2s;
  animation-name: row_from_2_to_3;
  animation-fill-mode: forwards;
}
@keyframes row_from_2_to_3 {
  from {
    top: 225px;
  }
  to {
    top: 335px;
  }
}
.row_from_3_to_0 {
  animation-duration: 0.2s;
  animation-name: row_from_3_to_0;
  animation-fill-mode: forwards;
}
@keyframes row_from_3_to_0 {
  from {
    top: 335px;
  }
  to {
    top: 5px;
  }
}
.row_from_3_to_1 {
  animation-duration: 0.2s;
  animation-name: row_from_3_to_1;
  animation-fill-mode: forwards;
}
@keyframes row_from_3_to_1 {
  from {
    top: 335px;
  }
  to {
    top: 115px;
  }
}
.row_from_3_to_2 {
  animation-duration: 0.2s;
  animation-name: row_from_3_to_2;
  animation-fill-mode: forwards;
}
@keyframes row_from_3_to_2 {
  from {
    top: 335px;
  }
  to {
    top: 225px;
  }
}
.row_from_3_to_3 {
  top: 335px;
}
.column_from_0_to_0 {
  left: 5px;
}
.column_from_0_to_1 {
  animation-duration: 0.2s;
  animation-name: column_from_0_to_1;
  animation-fill-mode: forwards;
}
@keyframes column_from_0_to_1 {
  from {
    left: 5px;
  }
  to {
    left: 115px;
  }
}
.column_from_0_to_2 {
  animation-duration: 0.2s;
  animation-name: column_from_0_to_2;
  animation-fill-mode: forwards;
}
@keyframes column_from_0_to_2 {
  from {
    left: 5px;
  }
  to {
    left: 225px;
  }
}
.column_from_0_to_3 {
  animation-duration: 0.2s;
  animation-name: column_from_0_to_3;
  animation-fill-mode: forwards;
}
@keyframes column_from_0_to_3 {
  from {
    left: 5px;
  }
  to {
    left: 335px;
  }
}
.column_from_1_to_0 {
  animation-duration: 0.2s;
  animation-name: column_from_1_to_0;
  animation-fill-mode: forwards;
}
@keyframes column_from_1_to_0 {
  from {
    left: 115px;
  }
  to {
    left: 5px;
  }
}
.column_from_1_to_1 {
  left: 115px;
}
.column_from_1_to_2 {
  animation-duration: 0.2s;
  animation-name: column_from_1_to_2;
  animation-fill-mode: forwards;
}
@keyframes column_from_1_to_2 {
  from {
    left: 115px;
  }
  to {
    left: 225px;
  }
}
.column_from_1_to_3 {
  animation-duration: 0.2s;
  animation-name: column_from_1_to_3;
  animation-fill-mode: forwards;
}
@keyframes column_from_1_to_3 {
  from {
    left: 115px;
  }
  to {
    left: 335px;
  }
}
.column_from_2_to_0 {
  animation-duration: 0.2s;
  animation-name: column_from_2_to_0;
  animation-fill-mode: forwards;
}
@keyframes column_from_2_to_0 {
  from {
    left: 225px;
  }
  to {
    left: 5px;
  }
}
.column_from_2_to_1 {
  animation-duration: 0.2s;
  animation-name: column_from_2_to_1;
  animation-fill-mode: forwards;
}
@keyframes column_from_2_to_1 {
  from {
    left: 225px;
  }
  to {
    left: 115px;
  }
}
.column_from_2_to_2 {
  left: 225px;
}
.column_from_2_to_3 {
  animation-duration: 0.2s;
  animation-name: column_from_2_to_3;
  animation-fill-mode: forwards;
}
@keyframes column_from_2_to_3 {
  from {
    left: 225px;
  }
  to {
    left: 335px;
  }
}
.column_from_3_to_0 {
  animation-duration: 0.2s;
  animation-name: column_from_3_to_0;
  animation-fill-mode: forwards;
}
@keyframes column_from_3_to_0 {
  from {
    left: 335px;
  }
  to {
    left: 5px;
  }
}
.column_from_3_to_1 {
  animation-duration: 0.2s;
  animation-name: column_from_3_to_1;
  animation-fill-mode: forwards;
}
@keyframes column_from_3_to_1 {
  from {
    left: 335px;
  }
  to {
    left: 115px;
  }
}
.column_from_3_to_2 {
  animation-duration: 0.2s;
  animation-name: column_from_3_to_2;
  animation-fill-mode: forwards;
}
@keyframes column_from_3_to_2 {
  from {
    left: 335px;
  }
  to {
    left: 225px;
  }
}
.column_from_3_to_3 {
  left: 335px;
}
